# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgres://postgres.[YOUR_DATABASE]:[YOUR_PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://postgres.[YOUR_DATABASE]:[YOUR_PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# Better Auth
BETTER_AUTH_SECRET="secret_key"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

#vercel
VERCEL_URL="https://nextjs-better-auth.vercel.app"
BLOB_READ_WRITE_TOKEN=""
#stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
PRICE_ID=
STRIPE_WEBHOOK_SECRET=